* {
    box-sizing: border-box;
}

body {
    background-color: #00203FFF;
}

.App {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.form {
    display: flex;
    margin-bottom: 25px;
}

.input {
    width: 30vw;
    height: 6vh;
    margin: 0px 20px;
    padding-left: 10px;
    border: none;
    border-radius: 12px;
    font-size: large;
}

.create-btn {
    border: none;
    cursor: pointer;
    color: #ADEFD1FF;
    background-color: transparent;
}
.delete-btn {
    border: none;
    cursor: pointer;
    color: #c91d12;
    background-color: transparent;

}

.update-btn {
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: #ADEFD1FF;
}
.confirm-btn {
    margin-top: 2%;
    padding:  8px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    background-color: #ADEFD1FF;
    color: #00203FFF;
}

.filter-btn {
    margin-top: 2%;
    padding:  8px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    background-color: #020024;
}

.filtering > input {
    margin: 3px 15px;
}
.filtering > label {
    color: #ADEFD1FF;
    font-size: large;
}

.item-wrapper {
    margin: 10px 0px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-shown {
    width: 25vw;
    height: 5vh;
    border: none;
    border-radius: 12px;
    text-indent: 10px;
    font-size: large;
}

.item-shown-completed {
    width: 25vw;
    height: 5vh;
    border: none;
    border-radius: 12px;
    text-indent: 10px;
    text-decoration:line-through;
    font-size: large;
    color: green;
    background-color: #ebe1e1;
}

.input-for-update {
    margin-top: 2%;
    width: 25vw;
    height: 5vh;
    text-indent: 10px;
    font-size: large;
    border: none;
    border-radius: 12px;
}

.greeting-when-no-item {
    font-weight: bold;
    font-size: larger;
    color: #000000;
}

.iscompleted-checkbox {
    width: 3vw;
    height: 3vh;
}